///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

.u-bold {
	font-weight: bold;
}

.u-color1 {
	color: #ff1e5b !important;
}