/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
	.l-container {
		@include sp {
			padding: 0 20px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-footer1 {
	padding: 50px 0 54px;
	background: #33c49d;
	@include sp {
		padding: 30px 0 23px;
	}
	&__txt {
		margin-top: 23px;
		@include sp {
			margin-top: 17px;
		}
		text-align: center;
		p {
			color: #fff;
			font-size: 1.5rem;
			line-height: 1.6;
			@include sp {
				font-size: 1.2rem;
				line-height: 1.4;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-footer2 {
	background: #3c3c3c;
	text-align: center;
	padding: 14px 0 12px;
	@include sp {
		padding: 8px 0 9px;
	}
	p {
		color: #fff;
		font-size: 1.2rem;
		letter-spacing: 0.6px;
		font-family: 'Roboto', sans-serif;
		@include sp {
			font-size: 1rem;
		}
	}
}

/*
------------------------------------------------------------*/
.c-toTop {
	width: 100px;
	height: 100px;
	position: fixed;
	z-index: 1000;
	right: 50px;
	bottom: 60px;
	cursor: pointer;
	border-radius: 50px;
	overflow: hidden;
	display: none;
	@include sp {
		width: 50px;
		height: 50px;
		right: 15px;
		bottom: 50px;
	}
}