/*------------------------------------------------------------
layout
------------------------------------------------------------*/

body {
	min-width: 1470px;
	@include sp {
		min-width: 320px;
	}
}

/*
------------------------------------------------------------*/
.l-container {
	width: 1440px;
	margin: 0 auto;
	@include sp {
		width: 100%;
	}
}

