/*------------------------------------------------------------
TOP
------------------------------------------------------------*/

.p-top {}

// 
//____________________________________________________________
.p-top1 {
	position: relative;
	&__mainvisual {
		position: relative;
		z-index: -1;
		img {
			width: 100%;
			height: auto;
		}
	}
}

// 
//____________________________________________________________
.p-top2 {
	width: 100%;
	min-height: 708px;
	padding: 51px 0 130px;
	background: url(/assets/image/index/101.jpg) no-repeat;
	background-size: cover;
	position: relative;
	@include sp {
		min-height: auto;
		padding: 0 0 50px;
		background: url(/assets/image/index/101.jpg) repeat;
		background-size: 900px auto;
	}
	.l-container {
		position: relative;
		z-index: 1;
	}
	.c-list1 {
		@include sp {
			margin-top: -13px;
		}
	}
	.c-btn1 {
		a {
			margin: 0 auto 0;
		}
		@include sp {
			margin-top: 14px;
		}
	}
	&__title {
		width: 590px;
		height: 918px;
		position: absolute;
		top: -299px;
		left: 0;
		padding: 132px 0 0 71px;
		background: url(/assets/image/index/102.png) no-repeat;
		@include sp {
			width: 100%;
			height: auto;
			text-align: center;
			position: relative;
			top: -20px;
			background: none;
			padding: 0;
			h2 {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	&__bgttl {
		@include sp {
			width: 100%;
			height: auto;
		}
	}
}

// 
//____________________________________________________________
.p-top3 {
	padding: 115px 0 109px;
	@include sp {
		padding: 47px 0 34px;
	}
	.c-title1 {
		margin-bottom: 43px;
		@include sp {
			margin-bottom: 26px;
			img {
				width: 200px;
				height: auto;
			}
		}
	}
	.c-item1 {
		width: 500px;
		margin-right: 68px;
		@include sp {
			width: calc(50% - 7.5px);
			margin-right: 15px;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	&__box {
		border: 1px solid #c8c8c8;
		border-top: none;
		margin-bottom: 40px;
		@include sp {
			border: none;
			padding: 0 15px 0;
			margin-bottom: 0;
		}
	}
	&__col {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0;
		@include sp {
			padding: 21px 0;
		}
	}
	&__note {
		margin-top: 19px;
		@include sp {
			margin-top: 15px;
			padding: 0 25px 0 15px;
		}
		li {
			display: inline-block;
			margin-right: 16px;
			margin-bottom: 20px;
			@include sp {
				display: block;
				margin-bottom: 14px;
				margin-right: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
		}
		.c-text1 {
			display: inline-block;
			margin-left: 8px;
			@include sp {
				display: block;
				font-size: 1.2rem;
				line-height: 1.1;
				margin: 10px 0 0;
				text-align: center;
			}
		}
	}
}

// 
//____________________________________________________________
.p-top4 {
	padding: 0 0 0;
	position: relative;
	.l-container {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		right: 0;
		text-align: center;
	}
	.c-text1 {
		font-size: 1.8rem;
		color: #fff;
		@include sp {
			font-size: 1.2rem;
		}
	}
	.c-btn2 {
		@include sp {
			padding: 0 20px;
		}
	}
	&__bg {
		position: relative;
		z-index: -1;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__title {
		margin: -44px 0 44px;
		@include sp {
			margin: -24px 0 14px;
		}
	}
	&__col {
		display: flex;
		justify-content: center;
		margin-top: 24px;
		@include sp {
			display: block;
			margin-top: 21px;
		}
	}
	&__item {
		margin-right: 40px;
		@include sp {
			margin-right: 0;
			margin-bottom: 6px;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	&__txt {
		margin-top: 5px;
		@include sp {
			margin-top: 2px;
		}
		.c-text1 {
			font-size: 1.3rem;
			letter-spacing: 1px;
			@include sp {
				font-size: 1rem;
				line-height: 1.4;
				letter-spacing: 0.5px;
			}
		}
	}
}

// 
//____________________________________________________________
.p-top5 {
	margin-top: -25px;
	@include sp {
		margin-top: 0;
		padding-top: 35px;
	}
	.l-container {
		@include sp {
			padding: 0 20px;
		}
	}
	.c-title1 {
		@include sp {
			margin-left: -20px;
			width: calc(100% + 40px);
		}
	}
	.c-imgtext1 {
		margin: 44px auto 30px;
		@include sp {
			margin: 22px auto 30px;
		}
	}
}

// 
//____________________________________________________________
.p-top6 {
	padding-top: 85px;
	@include sp {
		padding-top: 17px;
	}
	.l-container {
		@include sp {
			padding: 0 20px;
		}
	}
	.c-title1 {
		margin-bottom: 43px;
		@include sp {
			margin-bottom: 22px;
			margin-left: -20px;
			width: calc(100% + 40px);
		}
	}
}

// 
//____________________________________________________________
.p-top7 {
	padding: 99px 0 100px;
	@include sp {
		padding: 34px 0 40px;
	}
	&__title {
		@include sp {
			text-align: center;
		}
	}
	&__col {
		display: flex;
		margin-top: 46px;
		@include sp {
			display: block;
			margin-top: 16px;
			padding: 0 20px;
		}
	}
	&__left {
		width: 57.3%;
		@include sp {
			width: 100%;
		}
		iframe {
			width: 100%;
			height: 479px;
			@include sp {
				height: 239px;
			}
			
		}
	}
	&__right {
		width: 42.7%;
		position: relative;
		@include sp {
			width: 100%;
		}
		&:before {
			content: '';
			z-index: -1;
			width: 93%;
			height: 417px;
			min-height: 383px;
			background: url(/assets/image/index/120.png) repeat;
			position: absolute;
			top: -16px;
			left: -20px;
			@include sp {
				content: none;
			}
		}
	}
	&__box {
		background: #10222b;
		margin: -96px 0 0 40px;
		padding: 83px 0 73px 60px;
		@include sp {
			margin: -3px 0 0 0;
			padding: 14px 15px;
		}
		dl {
			width: 480px;
			display: flex;
			flex-wrap: wrap;
			@include sp {
				display: block;
				width: 100%;
				text-align: center;
			}
		}
		dt, dd {
			color: #fff;
			font-size: 1.5rem;
			line-height: 1.4;
			font-weight: bold;
			font-family: 'Noto Sans', sans-serif;
			border-bottom: 1px solid #fff;
			letter-spacing: 1px;
			padding: 9px 0;
			@include sp {
				letter-spacing: 0;
				border-bottom: none;
				padding: 0;
			}
			&:last-of-type {
				border-bottom: none;
			}
		}
		dt {
			width: 166px;
			padding-left: 22px;
			position: relative;
			@include sp {
				width: 100%;
				font-size: 1.4rem;
				padding-left: 0;
				padding-top: 10px;
			}
			&:before {
				position: absolute;
				top: 9px;
				left: -1px;
				@include sp {
					display: none;
				}
			}
		}
		dt:nth-child(1)::before {
			content: url(/assets/image/index/icon2.png);
		}
		dt:nth-child(3)::before {
			content: url(/assets/image/index/icon3.png);
		}
		dt:nth-child(5)::before {
			content: url(/assets/image/index/icon4.png);
		}
		dt:nth-child(7)::before {
			content: url(/assets/image/index/icon5.png);
		}
		dt:nth-child(9)::before {
			content: url(/assets/image/index/icon6.png);
		}
		dd {
			width: calc(100% - 166px);
			@include sp {
				width: 100%;
				font-size: 1.2rem;
				font-weight: normal;
				border-bottom: 1px solid #636f75;
				margin-top: 6px;
				padding-bottom: 11px;
			}
		}
	}
}

// 
//____________________________________________________________
.p-top8 {
	padding: 88px 0 79px;
	background: #eeeeee;
	@include sp {
		padding: 32px 0 22px;
	}
	.l-container {
		@include sp {
			padding: 0 20px;
		}
	}
	.c-title1 {
		@include sp {
			img {
				width: 192px;
				height: auto;
			}
		}
	}
	.c-list4 {
		margin-top: 42px;
		@include sp {
			margin-top: 14px;
		}
	}
}