/*------------------------------------------------------------
btn
------------------------------------------------------------*/

.c-btn1 {
	@include sp {
		padding: 0 20px;
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 474px;
		height: 77px;
		text-decoration: none;
		font-size: 1.8rem;
		color: #fff;
		background: #ff1e5b;
		overflow: hidden;
		border-radius: 50px;
		box-sizing: border-box;
		padding-left: 44px;
		letter-spacing: 1px;
		position: relative;
		font-family: 'Noto Sans', sans-serif;
		@include sp {
			width: 100%;
			height: auto;
			font-size: 1.2rem;
			font-weight: bold;
			letter-spacing: 0.4px;
			padding: 14px 0 13px 20px;
		}
		&:before {
			content: '';
			width: 8px;
			height: 8px;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
			position: absolute;
			top: 33px;
			left: 58px;
			transform: rotate(-45deg);
			@include sp {
				width: 6px;
				height: 6px;
				top: 18px;
				left: 24px;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-btn2 {
	a {
		display: inline-block;
		width: 422px;
		height: 92px;
		overflow: hidden;
		border-radius: 50px;
		text-align: center;
		@include sp {
			width: 281px;
			height: auto;
		}
	}
}

/*
------------------------------------------------------------*/
.c-btn3 {
	text-align: center;
	a {
		display: inline-block;
		width: 480px;
		height: 90px;
		border-radius: 50px;
		overflow: hidden;
		@include sp {
			width: 241px;
			height: 50px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}