/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title1 {
	text-align: center;
}

/*
------------------------------------------------------------*/
.c-title2 {
	h1,h2,h3,h4,h5,h6 {
		font-size: 2rem;
		color: #fff;
		background: #10222b;
		text-align: center;
		line-height: 1.5;
		letter-spacing: 1px;
		padding: 11px 0 9px;
		@include sp {
			font-size: 1.6rem;
			letter-spacing: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-title3 {
	h1,h2,h3,h4,h5,h6 {
		font-size: 1.8rem;
		line-height: 1.4;
		color: #3c3c3c;
	}
}