/*------------------------------------------------------------
text
------------------------------------------------------------*/

.c-text1 {
	font-size: 1.5rem;
	line-height: 1.5;
	color: #3c3c3c;
	font-family: 'Noto Sans', sans-serif;
}
