/*------------------------------------------------------------
navi
------------------------------------------------------------*/

.c-gnavi {
	padding: 0 37px;
	ul {
		width: 100%;
		height: 97px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	li {}
	a {
		text-decoration: none;
		font-size: 1.8rem;
		letter-spacing: 1px;
		color: #3c3c3c;
		font-family: 'Noto Sans', sans-serif;
		padding: 25px 20px 25px 44px;
		position: relative;
		&:before {
			content: '';
			width: 9px;
			height: 9px;
			border-right: 2px solid #ff1e5b;
			border-bottom: 2px solid #ff1e5b;
			position: absolute;
			top: 30px;
			left: 21px;
			transform: rotate(45deg);
		}
	}
}