/*------------------------------------------------------------
img
------------------------------------------------------------*/

.c-imgtext1 {
	display: flex;
	width: 1000px;
	border: 1px solid #c8c8c8;
	padding: 30px 30px 29px;
	@include sp {
		display: block;
		width: 100%;
		padding: 16px 15px 16px 15px;
	}
	&__img {
		width: 272px;
		height: 204px;
		overflow: hidden;
		@include sp {
			width: 100%;
			height: auto;
			padding: 0 57px 0;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	&__txt {
		width: calc(100% - 272px);
		padding: 0 0 0 30px;
		@include sp {
			width: 100%;
			padding: 0;
		}
		.c-title3 {
			margin: 8px 0;
			@include sp {
				margin: 12px 0 7px;
			}
			h3 {
				@include sp {
					font-size: 1.6rem;
					text-align: center;
				}
			}
		}
		.c-text1 {
			@include sp {
				font-size: 1.2rem;
				line-height: 1.4;
			}
		}
		.c-list2 {
			background: #f0f0f0;
			padding: 27px 30px 23px;
			margin-top: 16px;
			@include sp {
				margin-top: 28px;
				padding: 13px 15px 10px;
			}
		}
	}
}
