/*------------------------------------------------------------
list
------------------------------------------------------------*/

.c-list1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	@include sp {
		padding: 0 10px;
	}
	li {
		position: relative;
		width: 460px;
		height: 430px;
		margin-right: 30px;
		margin-bottom: 20px;
		@include sp {
			width: 49%;
			height: auto;
			margin-right: 2%;
			margin-bottom: 4px;
			&:nth-child(1) {
				width: 100%;
				margin-right: 0;
			}
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
		img {
			position: absolute;
			top: 0;
			left: -10px;
			@include sp {
				position: static;
				width: 100%;
				height: auto;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-list2 {
	li {
		position: relative;
		padding-left: 18px;
		font-size: 1.5rem;
		color: #3c3c3c;
		margin-bottom: 7px;
		@include sp {
			padding-left: 9px;
			font-size: 1.2rem;
			line-height: 1.4;
			margin-bottom: 5px;
		}
		&:before {
			content: '';
			width: 7px;
			height: 7px;
			border-radius: 50px;
			background: #33c49d;
			position: absolute;
			top: 7px;
			left: -1px;
			@include sp {
				width: 4px;
				height: 4px;
				top: 6px;
				left: 0;
			}
		}
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-list3 {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 272px;
		height: 204px;
		overflow: hidden;
		margin-left: 20px;
		margin-bottom: 20px;
		@include sp {
			width: calc(50% - 5px);
			height: auto;
			margin-left: 0;
			margin-right: 10px;
			margin-bottom: 10px;
			img {
				width: 100%;
				height: auto;
			}
		}
		&:nth-child(2n) {
			@include sp {
				margin-right: 0;
			}
		}
		&:nth-child(5n+1) {
			margin-left: 0;
		}
	}
}

/*
------------------------------------------------------------*/
.c-list4 {
	text-align: center;
	li {
		margin-bottom: 15px;
	}
	a {
		text-decoration: none;
		font-size: 1.5rem;
		color: #404040;
		@include sp {
			font-size: 1.2rem;
			line-height: 1.6;
		}
	}
}

/*
------------------------------------------------------------*/
.c-tabsp {
	&__ttl {
		display: flex;
		align-items: center;
		padding: 19px 44px 16px 15px;
		border-bottom: 1px solid #c8c8c8;
		background: #fff;
		position: relative;
		cursor: pointer;
		&:before, &:after {
			transition: all .3s;
			position: absolute;
			top: 30px;
			right: 22px;
			height: 1px;
			width: 20px;
			background: #0080ae;
			content: '';
		}
		&:before {
			transform: rotate(0deg);
		}
		&:after {
			transform: rotate(90deg);
		}
		&.is-active {
			&:before {
				display:none;
			}
			&:after {
				transform: rotate(180deg);
			}
		}
		p {
			font-size: 1.8rem;
			line-height: 1.4;
			font-weight: bold;
			color: #3c3c3c;
		}
		span {
			font-size: 1rem;
			line-height: 1.2;
			color: #999999;
			margin-left: 13px;
		}
	}
	&__table {
		display: none;
		padding: 15px 15px 14px 15px;
		border-bottom: 1px solid #c8c8c8;
		dl {
			background: #fff;
			border: 1px solid #c8c8c8;
			border-bottom: none;
			display: flex;
			flex-wrap: wrap;
			font-size: 1.2rem;
			font-family: 'Noto Sans', sans-serif;
			color: #3c3c3c;
		}
		dt {
			border-right: 1px solid #c8c8c8;
			width: 130px;
			font-weight: bold;
		}
		dd {
			width: calc(100% - 130px);
		}
		dt, dd {
			padding: 14px 10px 11px 14px;
			border-bottom: 1px solid #c8c8c8;
		}
	}
	&__line {
		display: block;
		position: relative;
		&:before {
			content: '';
			width: 122px;
			height: 1px;
			background: #ff1e5b;
			position: absolute;
			top: 7px;
			left: 0px;
			transform: rotate(-5deg);
		}
	}
}