/*------------------------------------------------------------
table
------------------------------------------------------------*/

.c-table1 {
	table {
		width: 100%;
		border-collapse: collapse;
	}
	thead {
		background: #dddddd;
		border: 1px solid #c8c8c8;
		border-top: none;
		th, td {
			border: none;
		}
	}
	tbody {
		tr:nth-child(2n) {
			background: #f8f8f8;
		}
		th {
			text-align: left;
			width: 264px;
			border-right: none;
			padding-left: 29px;
		}
		td {
			text-align: center;
			&:nth-child(2) {
				text-align: left;
				border-left: none;
				width: 323px;
			}
			&:nth-child(3), 
			&:nth-child(4),
			&:nth-child(5) {
				width: 284px;
			}
			&:nth-child(3), 
			&:nth-child(4) {
				font-weight: bold;
			}
		}
	}
	th, td {
		border: 1px solid #c8c8c8;
		font-family: 'Noto Sans', sans-serif;
		font-size: 1.5rem;
		line-height: 1.5;
		color: #3c3c3c;
		padding: 13px 0;
	}
	td span {
		line-height: 1.6;
	}
	.line1 {
		position: relative;
		&:before {
			content: '';
			width: 150px;
			height: 1px;
			background: #ff1e5b;
			position: absolute;
			top: 11px;
			left: 0px;
			transform: rotate(-7deg);
		}
	}
}
