/*------------------------------------------------------------
other
------------------------------------------------------------*/

.c-item1 {
	display: flex;
	align-items: center;
	@include sp {
		display: block;
		text-align: center;
	}
	&__ttl {
		width: 192px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: linear-gradient(to right, #51d2a0 , #00a6de);
		font-size: 2.1rem;
		font-weight: bold;
		color: #fff;
		padding-right: 6px;
		letter-spacing: 0.8px;
		line-height: 1;
		overflow: hidden;
		position: relative;
		font-family: 'Noto Sans', sans-serif;
		@include sp {
			width: 100%;
			height: 30px;
			font-size: 1.3rem;
			padding: 0 0;
		}
		&:before, &:after {
			position: absolute;
			content: '';
			background: #fff;
			width: 50px;
			height: 30px;
			@include sp {
				content: none;
			}
		}
		&:before {
			top: -9px;
			right: -27px;
			transform: rotate(55deg);
		}
		&:after {
			bottom: -9px;
			right: -27px;
			transform: rotate(-55deg);
		}
	}
	&__price1 {
		font-size: 3.2rem;
		font-weight: bold;
		font-style: italic;
		color: #404040;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;
		margin-left: 6px;
		position: relative;
		@include sp {
			font-size: 2rem;
			margin-left: 0;
			margin-top: 5px;
			margin-top: 8px;
			letter-spacing: 1px;
		}
		&:before {
			content: '';
			width: 150px;
			height: 2px;
			background: #ff1e5b;
			position: absolute;
			top: 20px;
			left: 2px;
			transform: rotate(-10deg);
			@include sp {
				height: 1px;
				width: 95px;
				top: 3px;
				left: 50%;
				transform: rotate(-12deg) translateX(-50%);
			}
		}
		span {
			font-size: 1.5rem;
			font-weight: normal;
			font-style: normal;
			font-family: 'Noto Sans', sans-serif;
			letter-spacing: 0px;
			margin-left: 2px;
			@include sp {
				font-size: 1rem;
			}
		}
	}
	&__price2 {
		font-size: 8.4rem;
		font-weight: bold;
		font-style: italic;
		color: #ff1e5b;
		font-family: 'Roboto', sans-serif;
		padding-left: 47px;
		@include sp {
			font-size: 6rem;
			padding-left: 0;
			margin-top: 1px;
			line-height: 1;
		}
		span {
			position: relative;
			&:before {
				content: url(/assets/image/index/icon1.png);
				position: absolute;
				top: -12px;
				left: -37px;
				@include sp {
					transform: scale(.5);
					top: 4px;
					left: -25px;
				}
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-note {
	background: #33c49d;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
	color: #fff;
	display: inline-block;
	padding: 6px 19px 4px;
	&--color1 {
		background: #0080ae;
	}
	@include sp {
		display: block;
		text-align: center;
		font-size: 1.3rem;
		padding: 6px 19px 5px;
	}
}
